.field:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
  }
  .bat{
    transition: transform 0.2s ease;
  }
  .field { 
    border: 5px solid yellow;
    height: 450px;
  
  }
  
  
  .ball{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    margin-left: 450px; 
  }
  .field:hover .ball{
    transform: translate(1000px, -200px);
  }
  .ball{
    transition: transform .8s ease-out .1s;
  }
  
  Message @Mehedi Hasasn